[*.cs]
csharp_max_line_length = 200
csharp_using_directive_placement = outside_namespace

#IDE
dotnet_diagnostic.IDE0005.severity = error

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# CA
# CA1040: Avoid empty interfaces
dotnet_diagnostic.CA1040.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA2016: Forward the 'cancellationToken' parameter to method or pass in 'CancellationToken.None' explicitly to indicate intentionally not propagating the token
dotnet_diagnostic.CA2016.severity = error

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = error

# CS
# CS1591 : Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

#S
# S2970: Complete the assertion
dotnet_diagnostic.S2970.severity = error

# S3246: Add the 'out' keyword to parameter to make it 'covariant'.
dotnet_diagnostic.S3246.severity = error

# S4144: Update this method so that its implementation is not identical.
dotnet_diagnostic.S4144.severity = error

# S6966: Await RunAsync instead.
dotnet_diagnostic.S6966.severity = error

#SA
# SA1003: Operator '=>' should be preceded by whitespace.
dotnet_diagnostic.SA1003.severity = error

# SA1028: Code should not contain trailing whitespace
dotnet_diagnostic.SA1028.severity = error

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1116: The parameters should begin on the line after the declaration, whenever the parameter span across multiple lines
dotnet_diagnostic.SA1116.severity = error

# SA1117: The parameters should all be placed on the same line or each parameter should be placed on its own line
dotnet_diagnostic.SA1117.severity = error

# SA1122: Use string.Empty for empty strings
dotnet_diagnostic.SA1122.severity = error

# SA1127: Generic type constraints should be on their own line
dotnet_diagnostic.SA1127.severity = error

# SA1309: Field should not begin with an underscore
dotnet_diagnostic.SA1309.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = error

# SA1507 : Code should not contain multiple blank lines in a row
dotnet_diagnostic.SA1507.severity = error

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = error

# SA1200: Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1200.severity = none

# SA1202: 'public' members should come before 'private' members
dotnet_diagnostic.SA1202.severity = error

# SA1208: Using directive for 'System' should appear before
dotnet_diagnostic.SA1208.severity = error

# SA1210: Using directives should be ordered alphabetically by the namespaces
dotnet_diagnostic.SA1210.severity = error

# SA1505: An opening brace should not be followed by a blank line
dotnet_diagnostic.SA1505.severity = error

# SA1508: A closing brace should not be preceded by a blank line
dotnet_diagnostic.SA1508.severity = error

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# SA1633 : The file header is missing or not located at the top of the file
dotnet_diagnostic.SA1633.severity = none

[**Test**.cs]

# CA1707 : Remove the underscores from member name
dotnet_diagnostic.CA1707.severity = none

# SA1202: 'public' members should come before 'private' members
dotnet_diagnostic.SA1202.severity = none

# xUnit1016: MemberData must reference a public member. Add or change the visibility of the data member to public.
# SA1401: Field should be private
dotnet_diagnostic.SA1401.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = none
