[*.cs]
csharp_using_directive_placement = outside_namespace

#IDE
dotnet_diagnostic.IDE0005.severity = error

# CA
# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = error

# CS
# CS1591 : Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

#SA
# SA1028: Code should not contain trailing whitespace
dotnet_diagnostic.SA1028.severity = error

# SA1122: Use string.Empty for empty strings
dotnet_diagnostic.SA1122.severity = error

# SA1200: Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1200.severity = none

# SA1202: 'public' members should come before 'private' members
dotnet_diagnostic.SA1202.severity = error

# SA1208: Using directive for 'System' should appear before
dotnet_diagnostic.SA1208.severity = error

# SA1210: Using directives should be ordered alphabetically by the namespaces
dotnet_diagnostic.SA1210.severity = error

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1508: A closing brace should not be preceded by a blank line
dotnet_diagnostic.SA1508.severity = error

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# SA1633 : The file header is missing or not located at the top of the file
dotnet_diagnostic.SA1633.severity = none

[**Test**.cs]

# CA1707 : Remove the underscores from member name
dotnet_diagnostic.CA1707.severity = none

# SA1202: 'public' members should come before 'private' members
dotnet_diagnostic.SA1202.severity = none

# xUnit1016: MemberData must reference a public member. Add or change the visibility of the data member to public.
# SA1401: Field should be private
dotnet_diagnostic.SA1401.severity = none
